<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Ciudad</th>
      <th scope="col">Clima</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>{{ pais1 }}</td>
      <th> {{temperatura1}} °C </th>
    </tr>
{{temperatura2}}  </th>
    </tr>
  </tbody>
</table>